@import "style1.css";

.circle-base {
    -webkit-transition: .4s ;
    -moz-transition: .4s ;
    transition: .4s ;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.circle-base:hover,
.circle-base:focus {
    transform: scale(1.5);
}

/* from  https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/*/
.wavy{
    --c1: var(--secondcolor);
    /* --c2: var(--compcolor); */
    --c2: var(--mutedcompcolor);
    /* --c1: #2e88c7; */
    /* --c2: #9ccce8; */
    /* font-size: 8vw; */
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
    --_p: 93% 83.5% at;
    --_g1: radial-gradient(var(--_p) bottom,var(--c1) 79.5%,#0000 80%) no-repeat;
    --_g2: radial-gradient(var(--_p) top   ,#0000 79.5%,var(--c1) 80%) no-repeat;
    --_g3: radial-gradient(var(--_p) bottom,var(--c2) 79.5%,#0000 80%) no-repeat;
    --_g4: radial-gradient(var(--_p) top   ,#0000 79.5%,var(--c2) 80%) no-repeat;
    background: 
      var(--_g1),var(--_g2),var(--_g1),var(--_g2),
      var(--_g3),var(--_g4),var(--_g3),var(--_g4);
    -webkit-background-clip: text;
            background-clip: text;
    color: #0000;
    -webkit-text-stroke: 0.02em var(--c1);
    -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
    animation: 
      s 2s infinite alternate,
      m 3s infinite linear;
  }
  @keyframes m {
    0% {background-position:
      -200% 100%,-100% 100%,  0% 100%,100% 100%,
         0% 100%, 100% 100%,200% 100%,300% 100%}
    100%{background-position:   
          0% 100%, 100% 100%,200% 100%,300% 100%,
       -200% 100%,-100% 100%,  0% 100%,100% 100%}
  }
  @keyframes s{
    0%  {background-size:
          50.5% 60%, 50.5% 60%, 50.5% 60%, 50.5% 60%,
          50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%}
    33% {background-size: 
          50.5% 70%, 50.5% 70%, 50.5% 70%, 50.5% 70%,
          50.5% 75%, 50.5% 75%, 50.5% 75%, 50.5% 75%}
    66% {background-size: 
          50.5% 55%, 50.5% 55%, 50.5% 55%, 50.5% 55%,
          50.5% 80%, 50.5% 80%, 50.5% 80%, 50.5% 80%}
    100%{background-size: 
          50.5% 90%, 50.5% 90%, 50.5% 90%, 50.5% 90%,
          50.5% 95%, 50.5% 95%, 50.5% 95%, 50.5% 95%}
  }

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
      display: flex;
      align-items: center;
}

.theme-switch-wrapper em {
      margin-left: 2vw;
      font-size: var(--medium-font);
}
.theme-switch {
      display: inline-block;
      height: 6.8vw;
      position: relative;
      width: 12vw;
}
    
.theme-switch input {
      display:none;
}
    
.slider {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
}
    
.slider:before {
      background-color: #fff;
      bottom: .8vw;
      content: "";
      height: 5.2vw;
      left: .8vw;
      position: absolute;
      transition: .4s;
      width: 5.2vw;
}
    
input:checked + .slider {
      background-color: rgb(40, 106, 230);
}
    
input:checked + .slider:before {
      transform: translateX(5.2vw);
}
    
.slider.round {
      border-radius: 6.8vw;
}
    
.slider.round:before {
      border-radius: 50%;
}

  /* big screen support */
@media screen and (min-width: 520px) {
      .theme-switch-wrapper em {
            margin-left: 10px;
            font-size: var(--medium-font-px);
      }
      .theme-switch {
            height: 34px;
            width: 60px;
      }
          
      .slider:before {
            bottom: 4px;
            height: 26px;
            left: 4px;
            width: 26px;
      }
          
      input:checked + .slider:before {
            transform: translateX(26px);
      }
          
      .slider.round {
            border-radius: 34px;
      }
}