@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* @import "animations.css"; */

html, body {
    --maincolor: rgb(230, 230, 230);
    --mutedmaincolor: rgb(210, 210, 210);
    --secondcolor: rgb(17, 17, 17);
    --mutedsecondcolor: rgb(104, 82, 6);
    --compcolor: rgb(229,196,98);
    --mutedcompcolor: rgb(236, 217, 162);

    --large-font: 5vw;
    --medium-font: 3vw;
    --small-font: 2vw;
    --icon-size: 10vw;

    --large-font-px: 25px;
    --medium-font-px: 15px;
    --small-font-px: 10px;
    --icon-size-px: 50px;

    background-color: var(--maincolor);
    color: var(--secondcolor);
    font-family: 'Helvetica Neue', sans-serif;
}

.mainWrapper {
    max-width: 520px;
    margin: auto auto;
}

h1 { 
    font-size: 15vw;
    font-weight: bold;
    /* line-height: 1; */
    text-align: center;

    /* background-color: var(--mutedcompcolor);
    padding: 4vw 5vw; */
    /* border: 1vw solid; */
    /* border-radius: 9vw */
    /* border-radius: 0 10vw 10vw 0; */
}

h2 {
    color: var(--secondcolor);
    font-size: 10vw;
    font-weight: 300;
    line-height: 1;
    text-align: center;

    /* background-color: var(--compcolor);
    border-radius: 5vw; */
    margin-bottom: 5%;

}

h3 {
    font-size: var(--large-font);
    margin: 2vw;
}

p {
    /* color: var(--mutedsecondcolor); */
    font-size: var(--medium-font);
    text-align: justify;
    text-justify: inter-word;
}
em {
    color: rgb(40, 106, 230);
    font-size: var(--large-font);
    text-align: justify;
    text-justify: inter-word;
}

li {
    font-size: var(--medium-font);
    margin-bottom: .5vw;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 2vw;
}
.theme-switch {
    display: inline-block;
    height: 6.8vw;
    position: relative;
    width: 12vw;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #fff;
    bottom: .8vw;
    content: "";
    height: 5.2vw;
    left: .8vw;
    position: absolute;
    transition: .4s;
    width: 5.2vw;
}
  
input:checked + .slider {
    background-color: rgb(40, 106, 230);
}
  
input:checked + .slider:before {
    transform: translateX(5.2vw);
}
  
.slider.round {
    border-radius: 6.8vw;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Menu Bar settings */
ul.upper-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
  }
  
  .upper-menu li{
    font-size: var(--large-font);
    margin: 0;
  }
  
  .upper-menu li a {
    display: block;
    color: var(--secondcolor);
    text-align: center;
    padding: 2vw 2.5vw;
    text-decoration: none;
  }
  
  .upper-menu li a:hover:not(.active) {
    background-color: var(--mutedmaincolor);
  }
  
  .upper-menu .active {
    background-color: var(--compcolor);
  }

/* hyperlink settings */
a:link {
    text-decoration: none;
    color: var(--secondcolor);
  }
  
  a:visited {
    text-decoration: none;
    color: var(--secondcolor);
  }
  
  a:hover {
    text-decoration: underline;
    color: var(--secondcolor);
  }
  
  a:active {
    text-decoration: underline;
    color: var(--secondcolor);
  }

iframe {
    width: 100%;
    height: 120vw;
    border: none;
}

.circle-base {
    /* background: none repeat scroll 0 0 var(--compcolor); */
    background-color: var(--mutedcompcolor);
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

.circle-container {
    position: absolute;
}


/* specifics */
.heading {
    display: flex;
    justify-content: center;
}

#main-title {
    margin-bottom: 0;
}

.subheading {
    display: flex;
    justify-content: center;
}

#mobile-friendly {
    text-align: center;
    margin-left: 5%
}

/* menu */
.menu {
    position: relative;
    height: 72vw;
}

.menu-select {
    background-color: var(--compcolor);
    padding: 3vw 3vw;
    /* border-radius: 3vh; */
    overflow: hidden;
    /* margin: 10% 0; */

    font-size: var(--large-font);
    font-weight: bold;
}

.return-container {
    display: flex;
    justify-content: center;
}

.return {
    text-align: center;
    margin-bottom: 5%;
    font-size: var(--medium-font);
    padding: 2vw 3vw;
}

.upper {
    margin-top: 10vw;
    margin-bottom: 30vw;
}

#headshot{
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: auto;
    z-index: 10;

    border-radius: 9vw;
}

.leftmenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* border: 1px solid; */

    justify-content: right;
}

.rightmenu {
    text-align: right;

    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    /* border: 1px solid; */
}
#ai-select{    
    width: 50%;
    /* position: absolute;
    left: 35%; */
    /* border: 1px solid; */
    margin: 5vw auto;
    text-align: center;
}


.bubbles-wrapper{
    position: relative;
    /* border: 1px solid; */

    width: 100%;
    height: 100vw;
}


#school-circle {
    position: relative;
    font-size: var(--medium-font);
    border-radius: 15vw;
    height: 30vw;
    width: 30vw;
}
#school-circle-pos{
    top: 2vw;
    left: 9vw;
}

#linkedin-circle {
    font-size: var(--icon-size);
    border-radius: 8vw;
    height: 16vw;
    width: 16vw;
}
#linkedin-circle-pos {
    top: 25vw;
    left: 65vw;
}

#duel2048-circle {
    font-size: var(--medium-font);
    border-radius: 12vw;
    height: 24vw;
    width: 24vw;
}
#duel2048-circle-pos {
    top: 35vw;
    left: 35vw;
}
#duel2048-img{
    width: 8vw;
    height: auto;
}

#hobbies-circle {
    font-size: var(--medium-font);
    border-radius: 14vw;
    height: 28vw;
    width: 28vw;
}
#hobbies-circle-pos {
    top: 60vw;
    left: 60vw;
}

#flock-circle {
    font-size: var(--medium-font);
    border-radius: 10vw;
    height: 20vw;
    width: 20vw;
}
#flock-circle-pos {
    top: 65vw;
    left: 20vw;
}


/* about page */
#about-page a:link {
    text-decoration: underline;
  }
  
  #about-page a:visited {
    text-decoration: underline;
  }


.paragraph {
    margin: 0 5%;
    padding: 1vw 4vw;
    background-color: var(--mutedcompcolor);
    border-radius: 0;
}

.floating-rect {
    width: 70%;
    margin-bottom: 10%;
}

.rect-body {
    text-align: left;
    padding: 1vw 4vw;
    background-color: var(--mutedcompcolor);
    border-radius: 0;
}

.heading-pic {
    display: flex;
    align-items: left;
}

.small-heading {
    width: 55%;
}

.small-heading h3{
    text-align: center;
}

.middle-space {
    width: 5%;
}

.small-pic {
    width: 40%;
    height: auto;
    margin: 2% 0;
    border-radius: 3vw;
}

.cloud {
    display: hidden;
}

.left {
    display: flex;
    justify-content: center;
}
.right {
    display: flex;
    justify-content: center;
}


/* big screen support */
@media screen and (min-width: 520px) {


    h1 { 
        font-size: 75px;
        /* padding: 20px 25px;
        border-radius: 45px; */
    }
    
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: var(--large-font-px);
        margin: 10px;
    }
    
    p {
        font-size: var(--medium-font-px);
    }
    em {
        font-size: var(--large-font-px);
    }
    
    li {
        font-size: var(--medium-font-px);
        margin-bottom: 2.5px;
    }

    .menu {
        height: 395px;
    }

    #headshot {
        border-radius: 45px;
    }
    .menu-select{
        padding: 15px 15px;
        /* border-radius: 25px; */
        font-size: var(--large-font-px);
    }

    .return {
        font-size: var(--medium-font-px);
        padding: 10px 15px;
    }

    .upper {
        margin-top: 50px;
        margin-bottom: 150px;
    }

    /* Circles */
    #school-circle {
        position: relative;
        font-size: var(--medium-font);
        border-radius: 15vw;
        height: 30vw;
        width: 30vw;
    }
    #school-circle {
        font-size: var(--medium-font-px);
        border-radius: 75px;
        height: 150px;
        width: 150px;
    }
    #school-circle-pos{
        top: 10px;
        left: 40px;
    }

    #linkedin-circle {
        font-size: var(--icon-size-px);
        border-radius: 40px;
        height: 80px;
        width: 80px;
    }
    #linkedin-circle-pos {
        top: 125px;
        left: 325px;
    }

    #duel2048-circle {
        font-size: var(--medium-font-px);
        border-radius: 60px;
        height: 120px;
        width: 120px;
    }
    #duel2048-circle-pos {
        top: 175px;
        left: 175px;
    }
    #duel2048-img{
        width: 40px;
        height: auto;
    }

    #hobbies-circle {
        font-size: var(--medium-font-px);
        border-radius: 70px;
        height: 140px;
        width: 140px;
    }
    #hobbies-circle-pos {
        top: 300px;
        left: 300px;
    }

    #flock-circle {
        font-size: var(--medium-font-px);
        border-radius: 50px;
        height: 100px;
        width: 100px;
    }
    #flock-circle-pos {
        top: 325px;
        left: 100px;
    }

    .paragraph {
        padding: 5px 20px;
        border-radius: 0;
    }

    .rect-body {
        padding: 5px 20px;
        /* border-radius: 25px; */
    }

    .small-pic {
        border-radius: 15px;
    }

    /*Simple css to style it like a toggle switch*/
    .theme-switch-wrapper em {
        margin-left: 10px;
    }
    .theme-switch {
        height: 34px;
        width: 60px;
    }
    
    .slider:before {
        bottom: 4px;
        height: 26px;
        left: 4px;
        width: 26px;
    }

    input:checked + .slider:before {
        transform: translateX(26px);
    }
    .slider.round {
        border-radius: 34px;
    }

    /* Upper menu */
      .upper-menu li{
        font-size: var(--large-font-px);
      }
      
      .upper-menu li a {
        padding: 10px 12.5px;
      }

}