@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import "animations.css";


html, body {
    --maincolor: rgb(17, 17, 17);
    --mutedmaincolor: rgb(51, 51, 51);
    --secondcolor:  rgb(230, 230, 230);
    --mutedsecondcolor: rgb(104, 82, 6);
    --compcolor: rgb(40, 106, 230);
    --mutedcompcolor: rgb(110, 135, 180);
}

/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

/* Circle Animations */
.circle-base:hover,
.circle-base:focus {
    transform: scale(1.0) !important;
}

.circle-base.visible {
    transform: scale(1.2);
}

/* Floating rectangle */
.floating-rect {
    width: 100%;
    display: flex;
    margin-bottom: 10%;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.rect-body {
    display: block;
    width: 75%;
    text-align: left;
    padding: 1vw 4vw;
    background-color: var(--mutedcompcolor);
    border-radius: 5vw;
}



.cloud-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .cloud-container {
    justify-content: flex-end;
}


/* Motion on the floating rectangle blocks */
.left {
    display: flex;
    justify-content: right;
}
.right {
    display: flex;
    justify-content: left;
}

.left .floating-rect {
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    transform: translateX(90%);
}

.right .floating-rect {
    -webkit-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    transform: translateX(-90%);
}

.floating-rect.visible {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    transform: translateX(0%);
}

.cloud {
    background-color: var(--secondcolor);
    width: 10vw;
    height: 3vw;
    border-radius: 2vw;
    margin: 4vw;
}

.left .cloud.second {
    margin-left: 10vw;
}

.right .cloud {
    margin-left: 10vw;
}
.right .cloud.second {
    margin-left: 4vw;
}

@media screen and (min-width: 520px) {
    .rect-body {
        padding: 5px 20px;
        border-radius: 25px;
    }

    .cloud {
        width: 50px;
        height: 15px;
        border-radius: 10px;
        margin: 20px;
    }
    
    .left .cloud.second {
        margin-left: 50px;
    }
    
    .right .cloud {
        margin-left: 50px;
    }
    .right .cloud.second {
        margin-left: 20px;
    }

}